---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mi Primera Web con Astro">
	<!-- HERO -->
	<section class="hero">
		<h1>Bienvenido a Mi Página</h1>
		<p>Construida con Astro, paso a paso.</p>
		<a href="#sobre-mi" class="btn">Descúbreme</a>
	</section>
</Layout>
